<nav class="navbar navbar-expand-lg bg-body-tertiary " style="padding: 0px; margin: 0px;">
    <div class="container-fluid" id="navbar">
        <a class="navbar-brand" href="#">Products</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            </ul>
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item ">
                    <a class="nav-link" style="color: black;" href="#"><b>Makhuz Dates</b></a>
                </li>
            </ul>
            <button class=" btn btn-light" type="button" style="padding-bottom: 2px;
            padding-top: 2px;" data-bs-toggle="modal" data-bs-target="#exampleModal"> Cart<span
                    class="badge text-bg-secondary mx-2">{{ CartService.getCartCount() }}</span></button>
        </div>
    </div>
</nav>


<div class="row" style="margin-left: 60px;">
    <h1 style="color: brown;">Dates</h1>
    <div class="card col-sm-6" style="width: 18rem;" *ngFor="let items of Dates">
        <img src={{items.src}} class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{items.name}}</h5>
            <h6 class="card-title">{{items.price}}/kg</h6>
            <p class="card-text">{{items.description}}</p>
            <a (click)="addToCart(items)" class="btn btn-primary button">Add to cart</a>
        </div>
    </div>

</div>



<div class="row my-4" style="margin-left: 60px;">
    <h1 style="color: brown;">DryFruits</h1>

    <div class="card col-sm-6" style="width: 18rem;" *ngFor="let items of Dryfruits">
        <img src="{{items.src}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{items.name}}</h5>
            <h6 class="card-title">{{items.price}}/kg</h6>
            <p class="card-text"> {{items.description}}</p>
            <a (click)="addToCart(items)" class="btn btn-primary">Add to cart</a>
        </div>
    </div>

</div>


<div class="row my-4" style="margin-left: 60px;">
    <h1 style="color: brown;">Dried Fruits</h1>

    <div class="card col-sm-6" s style="width: 18rem;" *ngFor="let items of Driedfruits">
        <img src="{{items.src}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{items.name}}</h5>
            <h6 class="card-title">{{items.price}}/kg</h6>
            <p class="card-text">{{items.description}}</p>
            <a (click)="addToCart(items)" class="btn btn-primary">Add to cart</a>
        </div>
    </div>

</div>





<!--Cart Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Cart</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Sr.no</th>
                            <th scope="col">Item</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Price</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let items of cart ; let i = index">
                            <th scope="row">{{i+1}}</th>
                            <td>{{items.name}}</td>
                            <td>1000 gms</td>
                            <td>{{items.price}}/-</td>
                            <td><button (click)="removeitem(items)" class="btn btn-danger btn-sm">Remove item</button></td>
                        </tr>
                       

                    </tbody>
                </table>
            </div>
            <div class="append-end" style="margin: 10px;"> 
                <h6>Cart Total:{{CartService.cartTotal()}}</h6>
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Buy Now</button>
            </div>
        </div>
    </div>
</div>